.dark-primary-color    { background: #388E3C; }
.default-primary-color { background: #4CAF50; }
.light-primary-color   { background: #C8E6C9; }
.text-primary-color    { color: #FFFFFF; }
.accent-color          { background: #FFC107; }
.primary-text-color    { color: #212121; }
.secondary-text-color  { color: #757575; }
.divider-color         { border-color: #BDBDBD; }

.navbar-material {
    margin-bottom: 10px;
}

.user-form {
    margin-top: 10px;
}

.page-footer .footer-copyright{
    background-color: #4CAF50;
    opacity: 1;
}

.card-image {
    padding: 10px;
}

.card-action button {
    font-size: 0.9em;
    display: inline-block;
}

.card-reveal p, .card-content .card-title {
    font-size: 1.0em;
    color: #747474;
}

.card .card-content {
    padding: 10px;
}

.card .card-content .card-title{
    margin-left: 3%;
} 

.card-content .card-title i{
    padding-right: 15%;
}

.card .card-image img {
    height: 150px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}